body {
    background-color: #EEF8F9;

    #hero {
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: 1260px) {
            height: 100%;
            display: flex;
            justify-content: center;
               
        }

        .container {
            margin-left: 64px;
            margin-top: 94px;
            display: flex;
            width: 83%;
            flex-direction: column;

            #navBar {
                display: flex;
                justify-content: space-around;
                
                width: 100%;
                height: 40px;
                margin-bottom: 10px;
                background-color: $headerColor;

                    a {
                        display: flex;
                        align-items: center;
                        height: 40px;
                        
                        span {
                            font-family: "Yantramanav", sans-serif;
                            font-size: 24px;
                            font-weight: bold;
                        }
                    }

                

                div:hover {
                    width: 275px;
                    border-bottom: 4px solid #5EBAC8;
                }

                div {
                    width: 275px;
                        
                    a {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            display: flex;
                            justify-content: center;
                            color: $cheminColor;
                            font-size: 18px;
                        }
                    }
                } 
            }
            #cheminRelatif {
                width: 100%;
                height: 30px;
                background-color: #5EBAC8;
                color: white;
                display: flex;
                align-items: center;
                
                >span {
                    padding-left: 40px;
                    font-family: "Yantramanav", sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            #titreHero1 {
                margin-top: 20px;
                width: 695px;
                font-family: "Yantramanav", sans-serif;
                @media screen and (max-width: 1260px) {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .titreLogo {
                    width: 250px;
                    display: flex;
                    justify-content: space-between;

                    h3 {
                        color: #5EBAC8;
                        text-transform: uppercase;
                        
                    }
                }

                p {
                    font-size: 30px;
                    font-family: "Yantramanav", sans-serif;
                    font-weight: bold;
                    margin: 0;
                    @media screen and (max-width: 1260px) {
                        font-size: 20px;
                        width: 100%;
                        
                    }

                    span {
                        font-weight: bold;
                        font-size: 40px;
                        font-family: "Yantramanav", sans-serif;
                    }
                }
            }

            #contenu {
                display: flex;
                justify-content: center;
                

                #blockDefi1 {
                    border: 6px solid rgba($color: #FCB630, $alpha: 0.86);
                    border-radius: 15px;
                    height: 412px;
                    width: 924px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    margin-top: 100px;
                    margin-bottom: 140px;
                    @media screen and (max-width: 1260px) {
                        width: 100%;
                        height: 100%; 
                        margin-bottom: 10%;
                        margin-top: 10%; 
                    }
                    
                    #coin {
                        position: absolute;
                        top: 300px;
                        left: -250px;
                        @media screen and (max-width: 1260px) {
                            width: 300px;
                            position: bottom 50px;
                            
                        }
                    }
                    
                    #ticket {
                        position: absolute;
                        bottom: 360px;
                        right: -100px;
                    
                    }

                    #defi {
                        margin: 39px 0 0 39px;
                        width: 158px;
                        height: 55px;
                        background-color: rgba($color: #FCB630, $alpha: 0.86);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        @media screen and (max-width: 1260px) {
                            margin-bottom: 10%; 
                        }
                       

                        >span {
                            color: white;
                            font-weight: 500;
                            font-size: 30px;
                            font-family: "Yantramanav", sans-serif;
                            
                            
                        }
                        
                    }

                    #nbEvent {
                        margin: 0 39px 94px 39px;
                        display: flex; 
                        justify-content: space-between;
                        align-items: center;
                        @media screen and (max-width: 1260px) {
                            margin: auto;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            
                        }
                        

                        .exercice {
                            width: 269px;
                            height: 186.75px;
                            @media screen and (max-width: 1260px) {
                                width: 100%;
                                height: 100%;
                                
                            }

                            a {
                                text-decoration: none;
                                color: white;
                                font-size: 20px;                    

                                .blockImage {
                                    height: 136.94px;
                                    @media screen and (max-width: 1260px) {
                                        height: 80%;
                                        width: 100%;
                                    }                                   

                                    .imageExercice {
                                    width: 269px;
                                    height: 136.94px;
                                    @media screen and (max-width: 1260px) {
                                        width: 100%;
                                        height: 100%;   
                                    }
                                    }
                                }

                                .titreDefi {
                                    height: 45px;
                                    background-color: rgba($color: #FCB630, $alpha: 0.86);
                                    display: flex;
                                    align-items: center;

                                    h3 {
                                        margin: 0;
                                        margin-left: 20px;
                                        font-family: "Yantramanav", sans-serif;
                                    }

                                }
                            }
                        }
                    }
                }
            }

            #titreHero2 {
                width: 695px;
                @media screen and (max-width: 1260px) {
                    width: 100%;
                    margin-top: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                 .titreLogo {
                    width: 220px;
                    display: flex;
                    justify-content: space-between;

                    h3 {
                        color: #5EBAC8;
                        text-transform: uppercase;
                        font-family: "Yantramanav", sans-serif;
                    }

                }

                p {
                    font-size: 30px;
                    font-family: "Yantramanav", sans-serif;
                    @media screen and (max-width: 1260px) {
                        font-size: 20px;
                        width: 100%;
                        
                    }

                    span {
                        font-weight: bold;
                        font-size: 40px;
                        font-family: "Yantramanav", sans-serif;
                    }
                }
            }


                #blockDefi2 {
                    border: 6px solid #8DC87B;
                    border-radius: 15px;
                    height: 412px;
                    width: 1212px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @media screen and (max-width: 1260px) {
                        width: 100%;
                        height: 100%; 
                        margin-bottom: 10%;
                        margin-top: 10%; 
                    }
                    

                    #defi {
                        margin: 39px 0 0 39px;
                        width: 158px;
                        height: 55px;
                        background-color: #8DC87B;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        @media screen and (max-width: 1260px) {
                            margin-bottom: 10%; 
                        }

                        >span {
                            color: white;
                            font-weight: 500;
                            font-size: 30px;
                            font-family: "Yantramanav", sans-serif;
                        }
                    }

                    #nbEvent {
                        margin: 0 39px 94px 39px;
                        display: flex; 
                        justify-content: space-between;
                        align-items: center;
                        @media screen and (max-width: 1260px) {
                            margin: auto;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            
                        }
                        

                        .exercice {
                            width: 269px;
                            height: 186.75px;
                            @media screen and (max-width: 1260px) {
                                width: 100%;
                                height: 100%;
                            }

                            a {
                                text-decoration: none;
                                color: white;
                                font-size: 20px;       

                                .blockImage {
                                    height: 136.94px;
                                    @media screen and (max-width: 1260px) {
                                        height: 80%;
                                        width: 100%;  
                                    }

                                    .imageExercice {
                                    width: 269px;
                                    height: 136.94px;
                                    @media screen and (max-width: 1260px) {
                                        width: 100%;
                                        height: 100%;   
                                    }
                                    }
                                }

                                .titreDefi {
                                    height: 45px;
                                    background-color: #8DC87B;
                                    display: flex;
                                    align-items: center;

                                    h3 {
                                        margin: 0;
                                        margin-left: 20px;
                                        font-family: "Yantramanav", sans-serif;

                                    }

                                }
                            }
                        }
                    }
                }
               
        }
    }
}

//Page notes

#titreHero {
    margin-top: 40px;
    h3 {
        font-family: "Yamatranav", sans-serif;
        color: $bleuTurquoise;
        text-transform: uppercase;
        font-weight: 700;
    }

    p {
        font-family: "Yamatranav", sans-serif;

        span {
            font-family: "Yamatranav", sans-serif;
        }
    }
}

#notesPubliques {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    margin-bottom: 25px;

    #switch {
        width: 334px;
        display: flex;
        border-radius: 20px;
        background-color: $headerColor;
        margin: 43px 0;
          
        #boutonPerso {
            width: 167px;
            
            h3 {
                display: flex;
                justify-content: center;
                color: black;
                font-family: "Yamatranav", sans-serif;
            }
        }

        #boutonPublique {
            width: 167px;
            border-radius: 20px;
            background-color: $bleuTurquoise;

            h3 {
                display: flex;
                justify-content: center;
                color: white;
                font-family: "Yamatranav", sans-serif;
            }
        }    
    }
    >div {
        
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 1260px;

        .rang1 {
            display: flex;
            flex-direction: column;
            background-color: white;
            }
            

            .photoNote {
                width: 293px;
            }

            .auteur {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $bleuTurquoise;
                padding: 0% 2%;


                .utilisateur {
                    width: 60%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    

                    >img {
                        width: 30%;
                        height: 30%;
                    }

                    >div {
                      
                        h4 {
                            color: white;
                            font-family: "Yamatranav", sans-serif;
                            margin-left: 10%;
                            width: 150px;

                        }
                    }
                }

            
        }
    }
}

//Page table des matières


.modulesTitres {

    height: 45px;
    background-color: #E5F0E6;
    width: 100%;
    height: 80px;
    display:flex;
    align-items: center;
    padding-left: 50px;
    font-family:"Yantramanav", sans-serif;
    font-size: 25px;
    font-weight: 550;
    margin-top: 40px;  
    
}

.blocThemes {
    display: flex;
    justify-content: space-around;
    flex-direction: column;


    .blocModules{
        display:flex;
        margin-left: 10px;
        align-items: center;
        padding-bottom: 0;
        padding: 10px 0;

        .thèmesCercle {
            width: 50px;
            height: 50px;
            background-color: #7CC170;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 24px;
            font-weight: bold;
            margin-left: 60px;
            margin-right: 40px;
            font-family: "Yantramanav", sans-serif;
        }

        .titreThèmes{
            font-family: "Yantramanav", sans-serif;
            font-size: 25px;
            padding-left: 10px;
                
            
            
        }
    }

    
    .segment {
        height: 50px;
        width: 100%;
        border-left: 5px solid black;
        margin-left: 92px;
        padding-left: 50%;
        display: flex;
        align-items: center;

        .placeCercle{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-weight: bold;
    
            .boutonOrange {
                display: inline-block;
                padding: 10px 0px;
                background-color: rgba(252, 182, 48, 0.86);
                color: white;
                text-decoration: none;     
                border-radius: 5px;
                border: none;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;

                span {
                    font-size: 20px;
                    font-family: "Yantramanav", sans-serif;
                    font-weight: bold;

                }
            }

            .boutonGray {
                display: inline-block;
                padding: 10px 0px;
                background-color: #737373;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                border: none;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;

                span {
                    font-size: 20px;
                    font-family: "Yantramanav", sans-serif;
                    font-weight: bold
                }
            }
        }
    }

    .blocModules{
        display:flex;
        margin-left: 10px;
        align-items: center;

        .thèmesCercleRed {
            width: 50px;
            height: 50px;
            background-color: #ED704C;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 24px;
            font-weight: bold;
            margin-left: 60px;
        

            .titreThèmes{
                font-family: "Yantramanav", sans-serif;
                font-size: 20px;
                padding-left: 10px;
                
            
            }
        }
    }

    

    .placeCercle{
        display: flex;
        justify-content: center;
        align-items: center;

        .boutonGray {
            display: inline-block;
            padding: 10px 20px;
            background-color: #737373;
            color: white;
            text-decoration: none;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            text-align: center;
        }
    }

}