$navColor: #31486A;
$headerColor: white;
$shadowColor: rgba(0, 0, 0, 0.25);
$hoverColor: #3C8E9A;
$defiColor: #ED704C;
$exerciceColor: #7CC170;
$borderColor: #E5DBDB;
$textColor: black;
$percentColor: #6840F8;
$cercleColor: #E1D9FF;

// 

$cheminColor: #5EBAC8;